In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [25]:
# data = pd.read_excel("count_card_data.xlsx")
data = pd.read_excel("code_card_data.xlsx")
data = data.drop_duplicates(subset=data.columns[:54].tolist())
data.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,appro value,choose value
0,0,0,1,1,0,0,0,0,0,0,...,0,0,0,1,1,1,0,1,2.539188,2
1,0,0,0,1,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0.503992,1
2,0,0,0,0,0,0,0,1,0,1,...,0,1,0,0,0,1,0,0,1.206329,1
3,0,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,1.761439,2
4,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,1,1,0,1,1.292970,1

In [26]:
data=data.to_numpy()

In [5]:

# X_train = data[0:5498, :15] 
# y_train = data[0:5498, 15]

# # X_test = data[120:, :15]   
# # y_test = data[120:, 15]

In [5]:
# data1 = pd.read_excel("a113.xlsx")
# data1=data1.to_numpy()

In [6]:
# X_test = data1[:, :15].astype(float)
# y_test_true = data1[:, 15].astype(float)

In [42]:
X_train, X_test, y_train, y_test_true = train_test_split(data[0:, :54], data[0:, 54], test_size=0.1, random_state=1)
# 创建并训练线性回归模型
model = LinearRegression()
model.fit(X_train, y_train)

# 预测测试集
y_pred = model.predict(X_test)

# 输出结果
# print("测试数据真实值:", y_test_true)
# print("测试数据预测值:", y_pred)
# print("均方误差(MSE):", mean_squared_error(y_pred, y_test_true))

In [43]:
y = 0
for i in range(len(y_pred)):
    y += abs(y_test_true[i]-y_pred[i])
print(y/len(y_pred))

0.2905659571242477

In [44]:
y_pred1 = model.predict(X_train)
yy = 0
for i in range(len(y_pred1)):
    yy += abs(y_train[i]-y_pred1[i])
print(yy/len(y_pred1))

0.29011111403165457